In [ ]:
import pandas as pd
import numpy as np
import mibian
from datetime import datetime

df00 = pd.read_csv('./temp/data_download.csv', low_memory=False)
df01 = pd.read_csv('./temp/data_download2.csv', low_memory=False)
df02 = pd.read_csv('./temp/data_download3.csv', low_memory=False)
df03 = pd.read_csv('./temp/data_download4.csv', low_memory=False)
df04 = pd.read_csv('./temp/data_download5.csv', low_memory=False)
df05 = pd.read_csv('./temp/data_download6.csv', low_memory=False)
df06 = pd.read_csv('./temp/data_download7.csv', low_memory=False)
df = pd.concat([df00, df01, df02, df03, df04, df05, df06], ignore_index=True)

dates_Meta = open('exp_CL_dates.txt', 'w')
chain_Meta = open('exp_CL_chains.csv', 'w')
contract_Meta = open('exp_CL_contracts.csv', 'w')

In [ ]:
rowCount = 0
chain_data = {}
contract_data = {}
price_data = {}

class chain(object):
    def __init__(self, symbol, exp_date):
        self.symbol = symbol
        self.exp_date = exp_date
        
class contract(object):
    def __init__(self,symbol, exp_date, strike, type, chain_id, close_index):
        self.symbol = symbol
        self.exp_date = exp_date
        self.strike = strike
        self.type = type
        self.chain_id = chain_id
        self.close_index = close_index
        self.p_data = {}
        
    def addPrice(self,date,price):
        self.p_data[date] = price
 
m_index = 0;
for index, row in df.iterrows():
    if not row["option root symbol"] == "CL":
        continue
    
    chainId = row["option root symbol"] + "_" + row["expiration"]
    c_data = chain(row["option root symbol"],row["expiration"])
    chain_data[chainId] = c_data
    contractId = chainId + "_" + str(row["strike"]) + "_" + row["call/put"]
    if not contractId in contract_data: 
        temp_contract = contract(row["option root symbol"],row["expiration"],row["strike"],row["call/put"],chainId,m_index)
        contract_data[contractId] = temp_contract
        m_index += 1;
    contract_data[contractId].addPrice(row["date"],row["settlement price"])

In [ ]:
#Export trading days
dates = list(set(df["date"]))
dates.sort()
for date in dates:
    dates_Meta.write("%s\n" % date)
dates_Meta.close()   

#Export chain data
c_ids = list(chain_data.keys())
chain_Meta.write("%s\n" % "id,option_symbol,expiration_date")
for c_id in c_ids:
    row = c_id + "," + chain_data[c_id].symbol + "," + chain_data[c_id].exp_date
    chain_Meta.write("%s\n" % row)    
chain_Meta.close()

#Export contract data
contract_ids = list(contract_data.keys())
contract_Meta.write("%s\n" % "id,chain_id,strike,type,close_index")
for con_id in contract_ids:
    row = con_id + "," + contract_data[con_id].chain_id + "," + str(contract_data[con_id].strike) + "," + contract_data[con_id].type + "," + str(contract_data[con_id].close_index)
    contract_Meta.write("%s\n" % row)
contract_Meta.close()

In [5]:
#Export price data
price_df = pd.DataFrame(columns=dates)
contract_ids = list(contract_data.keys())
for con_id in contract_ids:
    prices = contract_data[con_id].p_data
    for p_index in prices:
        price_df.at[contract_data[con_id].close_index,p_index] = prices[p_index]
    #print(con_id)    
price_df = price_df.fillna(-1.0)
price_df.to_csv("exp_CL_data.csv")

In [2]:
import pandas as pd
import numpy as np
import mibian

df = pd.read_csv('C:\\Users\\shami\\Desktop\\bahamas_data\\CL\\CHRIS-ICE_T1.csv', low_memory=False)

In [3]:
df['Date']

,Date,Open,High,Low,Settle,Change,Wave,Volume,Prev_Day_Open_Interest,EFP_Volume,EFS_Volume,Block_Volume
0,2018-05-11,71.48,71.60,70.47,70.70,-0.66,71.09,42168.0,88764.0,NaN,NaN,3443.0
1,2018-05-10,71.42,71.88,70.57,71.36,0.22,71.20,48265.0,89768.0,NaN,NaN,2734.0
2,2018-05-09,70.19,71.36,70.15,71.14,2.08,70.98,47027.0,93185.0,NaN,NaN,477.0
3,2018-05-08,70.02,70.40,67.64,69.06,-1.67,69.12,75880.0,94910.0,NaN,NaN,1854.0
4,2018-05-07,69.81,70.83,69.52,70.73,1.01,70.39,50592.0,97238.0,NaN,NaN,868.0
5,2018-05-04,68.56,69.97,68.12,69.72,1.29,69.10,50337.0,95274.0,NaN,NaN,1099.0
6,2018-05-03,67.69,68.60,67.23,68.43,0.50,67.96,44242.0,93885.0,NaN,NaN,136.0
7,2018-05-02,67.45,68.13,66.92,67.93,0.68,67.48,51610.0,95650.0,NaN,NaN,32.0
8,2018-05-01,68.57,68.88,66.86,67.25,-1.32,67.59,45886.0,97392.0,NaN,NaN,1640.0
9,2018-04-30,68.10,69.34,67.18,68.57,0.47,68.25,43859.0,98202.0,NaN,NaN,398.0
10,2018-04-27,68.07,68.35,67.65,68.10,-0.09,68.04,35045.0,100397.0,NaN,NaN,90.0
11,2018-04-26,68.15,68.78,67.72,68.19,0.14,68.21,49785.0,98027.0,NaN,NaN,33.0
12,2018-04-25,67.86,68.17,67.12,68.05,0.35,67.70,54830.0,99886.0,NaN,NaN,749.0
13,2018-04-24,68.92,69.38,67.55,67.70,-0.94,68.48,65366.0,103890.0,NaN,NaN,7581.0
14,2018-04-23,68.36,69.03,67.15,68.64,0.24,67.93,63542.0,115270.0,NaN,NaN,16285.0
15,2018-04-20,68.35,68.66,67.49,68.40,0.07,68.14,53475.0,116842.0,NaN,NaN,5741.0
16,2018-04-19,68.75,69.56,68.01,68.33,-0.14,68.81,86386.0,112197.0,NaN,NaN,381.0
17,2018-04-18,66.67,68.90,66.67,68.47,1.95,67.90,24854.0,37150.0,NaN,NaN,1941.0
18,2018-04-17,66.45,66.74,65.57,66.52,0.30,66.21,42573.0,42005.0,NaN,NaN,2421.0
19,2018-04-16,67.50,67.70,66.15,66.22,-1.17,66.53,48563.0,48613.0,NaN,NaN,2981.0
20,2018-04-13,66.90,67.77,66.69,67.39,0.32,67.32,40458.0,49554.0,NaN,NaN,1372.0
21,2018-04-12,66.85,67.32,66.00,67.07,0.25,66.65,43431.0,51236.0,NaN,NaN,583.0
22,2018-04-11,65.66,67.44,65.17,66.82,1.31,66.46,55078.0,52737.0,NaN,NaN,338.0
23,2018-04-10,63.29,65.86,63.22,65.51,2.09,64.92,58311.0,58422.0,NaN,NaN,2794.0
24,2018-04-09,62.01,63.61,61.99,63.42,1.36,63.11,50540.0,62418.0,NaN,NaN,675.0
25,2018-04-06,63.19,63.69,61.82,62.06,-1.48,62.64,60308.0,64627.0,NaN,NaN,20.0
26,2018-04-05,63.76,64.12,63.08,63.54,0.17,63.55,35914.0,66305.0,NaN,NaN,235.0
27,2018-04-04,63.58,63.60,62.07,63.37,-0.14,62.84,52047.0,67183.0,NaN,NaN,905.0
28,2018-04-03,63.07,63.89,63.04,63.51,0.50,63.44,29248.0,67352.0,NaN,NaN,2194.0
29,2018-04-02,64.94,65.44,62.82,63.01,NaN,63.77,40367.0,70678.0,NaN,NaN,250.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3091,2006-03-16,62.15,63.87,61.67,63.58,1.41,NaN,39107.0,29083.0,0.0,0.0,54.0
3092,2006-03-15,62.75,63.23,61.85,62.17,-0.93,NaN,37038.0,30175.0,0.0,0.0,50.0
3093,2006-03-14,61.75,63.30,61.27,63.10,1.33,NaN,33221.0,35063.0,0.0,0.0,0.0
3094,2006-03-13,59.65,61.92,59.60,61.77,1.81,NaN,37382.0,33220.0,0.0,0.0,0.0
3095,2006-03-10,60.68,60.80,59.69,59.96,-0.51,NaN,35315.0,35342.0,0.0,0.0,0.0
3096,2006-03-09,59.78,60.94,59.55,60.47,0.45,NaN,40757.0,37526.0,0.0,0.0,0.0
3097,2006-03-08,61.54,61.60,59.35,60.02,-1.56,NaN,42161.0,37072.0,0.0,0.0,0.0
3098,2006-03-07,62.38,62.76,61.19,61.58,-0.83,NaN,39725.0,36009.0,0.0,0.0,200.0
3099,2006-03-06,63.70,63.70,61.86,62.41,-1.26,NaN,37201.0,38203.0,0.0,0.0,0.0
3100,2006-03-03,63.69,63.79,62.71,63.67,0.31,NaN,31900.0,36279.0,0.0,0.0,0.0
3101,2006-03-02,62.18,63.64,62.18,63.36,1.39,NaN,29912.0,34614.0,0.0,0.0,0.0
3102,2006-03-01,61.55,62.34,61.49,61.97,0.56,NaN,31727.0,35130.0,0.0,0.0,0.0
3103,2006-02-28,60.41,61.75,60.33,61.41,0.41,NaN,35341.0,31608.0,0.0,0.0,0.0
3104,2006-02-27,62.50,62.55,60.73,61.00,-1.91,NaN,27224.0,28714.0,0.0,0.0,0.0
3105,2006-02-24,60.93,63.25,60.86,62.91,2.37,NaN,38763.0,27361.0,0.0,0.0,102.0
3106,2006-02-23,60.72,61.12,59.72,60.54,-0.47,NaN,31527.0,24598.0,0.0,0.0,0.0
3107,2006-02-22,62.43,62.43,60.53,61.01,-1.73,NaN,28648.0,22320.0,0.0,0.0,123.0
3108,2006-02-21,62.77,62.89,61.90,62.74,-0.03,NaN,20260.0,21811.0,0.0,0.0,0.0
3109,2006-02-20,62.00,62.97,61.80,62.77,1.48,NaN,2341.0,21472.0,0.0,0.0,0.0
3110,2006-02-17,58.94,59.98,58.78,59.88,1.42,NaN,4412.0,0.0,0.0,0.0,0.0
3111,2006-02-16,57.91,59.07,57.57,58.46,0.81,NaN,18418.0,19549.0,0.0,0.0,0.0
3112,2006-02-15,59.67,60.04,57.61,57.65,-1.92,NaN,27499.0,22387.0,0.0,0.0,0.0
3113,2006-02-14,61.02,61.31,59.35,59.57,-1.67,NaN,26684.0,20020.0,0.0,0.0,0.0
3114,2006-02-13,61.64,62.03,60.85,61.24,-0.60,NaN,17351.0,21845.0,0.0,0.0,0.0
3115,2006-02-10,62.87,63.00,61.35,61.84,-0.78,NaN,21129.0,21733.0,0.0,0.0,0.0
3116,2006-02-09,62.68,63.73,62.38,62.62,0.07,NaN,27492.0,21976.0,0.0,0.0,0.0
3117,2006-02-08,62.96,63.44,62.29,62.55,-0.54,NaN,27539.0,13583.0,0.0,0.0,0.0
3118,2006-02-07,64.82,64.90,62.81,63.09,-2.02,NaN,29434.0,13611.0,0.0,0.0,0.0
3119,2006-02-06,66.35,66.50,64.77,65.11,-0.26,NaN,20387.0,10998.0,0.0,0.0,0.0
3120,2006-02-03,64.77,65.48,63.93,65.37,NaN,NaN,21966.0,11070.0,0.0,0.0,0.0